:root {
  /* === PRIMARY === */
  --primary-900: #06191F;
  --primary-800: #08222A;
  --primary-700: #0B2F39;
  --primary-600: #104253;
  --primary-500: #1EB6E8;
  --primary-400: #4FC5EB;
  --primary-300: #7ED6F1;
  --primary-200: #A8E4F6;
  --primary-100: #D4F2FB;

  /* === SECONDARY === */
  --secondary-900: #1B1130;
  --secondary-800: #251744;
  --secondary-700: #37245F;
  --secondary-600: #4E3485;
  --secondary-500: #7157C5;
  --secondary-400: #8C77D3;
  --secondary-300: #A899E0;
  --secondary-200: #C2B6EB;
  --secondary-100: #E3DDF8;

  /* === THIRD === */
  --third-900: #0C1F1C;
  --third-800: #0E2A26;
  --third-700: #11423A;
  --third-600: #156354;
  --third-500: #18A17E;
  --third-400: #28B994;
  --third-300: #5ED8B7;
  --third-200: #93E6CE;
  --third-100: #C9F4E6;

  /* === GRAY === */
  --gray-900: #0C1213;
  --gray-800: #141C1E;
  --gray-700: #1D2628;
  --gray-600: #2C3A3D;
  --gray-500: #4A5C60;
  --gray-400: #6D858A;
  --gray-300: #94A9AD;
  --gray-200: #BCCBCD;
  --gray-100: #E2E9EA;

  /* === FEEDBACK === */
  --error-dark: #D32F2F;
  --error-medium: #EF5350;
  --error-light: #FFCDD2;

  --alert-dark: #F57C00;
  --alert-medium: #FFA726;
  --alert-light: #FFE0B2;

  --success-dark: #388E3C;
  --success-medium: #66BB6A;
  --success-light: #C8E6C9;
}