:root {

  --icon-color: #ffffff;
  
  --black-000: #000000;
  --black-050: #0a0a0a;
  --black-100: #111111;
  --black-150: #181818;
  --black-200: #1e1e1e;
  --black-300: #2a2a2a;
  --black-400: #383838;
  --black-500: #4a4a4a;
  --black-600: #6e6e6e;
  --black-700: #9a9a9a;
  --black-800: #c7c7c7;
  --black-900: #f2f2f2;

  --accent-blue: #3ea6ff;
  --accent-green: #00d47c;
  --accent-purple: #a970ff;
  --accent-red: #ff5555;
  --accent-yellow: #ffdd33;

  --primary-900: var(--black-000);
  --primary-800: var(--black-050);
  --primary-700: var(--black-100);
  --primary-600: var(--black-150);
  --primary-500: var(--accent-blue);
  --primary-400: #6ac0ff;
  --primary-300: #96d4ff;
  --primary-200: #c8e8ff;
  --primary-100: #e9f6ff;

  --secondary-900: var(--black-050);
  --secondary-800: var(--black-100);
  --secondary-700: var(--black-150);
  --secondary-600: var(--black-200);
  --secondary-500: var(--accent-purple);
  --secondary-400: #c29aff;
  --secondary-300: #d7bfff;
  --secondary-200: #ebddff;
  --secondary-100: #f7f2ff;

  --third-900: var(--black-050);
  --third-800: var(--black-100);
  --third-700: var(--black-150);
  --third-600: var(--black-200);
  --third-500: var(--accent-green);
  --third-400: #41e9a0;
  --third-300: #7ff3c4;
  --third-200: #bff9e0;
  --third-100: #e6fdf4;

  --gray-900: var(--black-000);
  --gray-800: var(--black-100);
  --gray-700: var(--black-200);
  --gray-600: var(--black-300);
  --gray-500: var(--black-400);
  --gray-400: var(--black-500);
  --gray-300: var(--black-600);
  --gray-200: var(--black-700);
  --gray-100: var(--black-900);

  --error-dark: var(--accent-red);
  --error-medium: #ff7e7e;
  --error-light: #ffd6d6;

  --alert-dark: var(--accent-yellow);
  --alert-medium: #ffe680;
  --alert-light: #fff6cc;

  --success-dark: var(--accent-green);
  --success-medium: #51e6a7;
  --success-light: #d2f8e9;
}